<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add vehicle</title>
    <link rel="stylesheet" href="AUTOEASE\backend\static\assets\css\style.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <h2 class="headerveh"> Enter your vehicle details</h2> -->
 
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <!-- <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li> -->
          <h2>Enter your vehicle details</h2>
        </ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form> -->

        <div class="text-end">
          <button  href="/" type="button" class="btn btn-outline-light me-2" ><a>Home</button>
          <button type="button" class="btn btn-warning">My vehicle</button>
        </div>
      </div>
      <form>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form6Example1" class="form-control" />
              <label class="form-label" for="form6Example1">Select state</Reg></label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <select name="" id="form6Example2" class="form-control"> 
                <option value="karnataka">karnataka</option>
                <option value="kerala">kerala</option>
                <option value="karnataka">karnataka</option>
                <option value="karnataka">karnataka</option>
                <option value="karnataka">karnataka</option>
                <option value="karnataka">karnataka</option>
              </select>
              <label class="form-label" for="form6Example2">select R.T.O</label>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form6Example1" class="form-control" />
              <label class="form-label" for="form6Example1">Vehicle Reg.No</Reg></label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <select name="" id="form6Example2" class="form-control"> 
                <option value="karnataka">karnataka</option>
                <option value="kerala">kerala</option>
                <option value="karnataka">karnataka</option>
                <option value="karnataka">karnataka</option>
                <option value="karnataka">karnataka</option>
                <option value="karnataka">karnataka</option>
              </select>
              <label class="form-label" for="form6Example2">Owner name</label>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form6Example1" class="form-control" />
              <label class="form-label" for="form6Example1">Select state</Reg></label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <select name="" id="form6Example2" class="form-control"> 
                <option value="karnataka">karnataka</option>
                <option value="kerala">kerala</option>
                <option value="karnataka">karnataka</option>
                <option value="karnataka">karnataka</option>
                <option value="karnataka">karnataka</option>
                <option value="karnataka">karnataka</option>
              </select>
              <label class="form-label" for="form6Example2">select R.T.O</label>
            </div>
          </div>
        </div>
      
        <!-- Text input -->
        <!-- <div class="form-outline mb-4">
          <input type="text" id="form6Example3" class="form-control" />
          <label class="form-label" for="form6Example3">Vehicle Reg.No</label>
        </div>
      
        -- Text input -->
        <div class="form-outline mb-4">
          <input type="text" id="form6Example4" class="form-control" />
          <label class="form-label" for="form6Example4">Owner name</label>
        </div> 
      
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form6Example5" class="form-control" />
          <label class="form-label" for="form6Example5">Email</label>
        </div>
      
        <!-- Number input -->
        <div class="form-outline mb-4">
          <input type="number" id="form6Example6" class="form-control" />
          <label class="form-label" for="form6Example6">Phone</label>
        </div>
      
        <!-- Message input -->
        <!-- <div class="form-outline mb-4">
          <textarea class="form-control" id="form6Example7" rows="4"></textarea>
          <label class="form-label" for="form6Example7">Additional information</label>
        </div> -->
      
        <!-- Checkbox -->
        
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Verify</button>
      </form       
    </div>
  </header>
</body>
</html>
