{% extends 'baselogin.html' %}
{% block tittle   %}Register{% endblock tittle  %}
{% block form  %}
<h2 class='bold'>
Register here
</h2>
<div  class="row">
    <div class="col-md-3"></div>
    
    <div class="col-md-6 ">
    
              
    <form action="/register" method="post">
        <div class="row">  
            <div class="col">                    
    <div class="form-group">
    <input type="text" class="form-control mt-2" placeholder="Enter User Name" name="username" required>
    </div>
    
    <div class="form-group">
    <input type="email" class="form-control mt-2" placeholder="Enter  Email" name="email" required>
    </div>
    
    <div class="form-group">
    <input type="text" class="form-control mt-2" placeholder="Enter  Phone Number" name="phno" required>
    </div>
</div>
<div class="col">
    <div class="form-group">
        <input type="number" class="form-control mt-2" placeholder="Enter  Age" name="age" required>
        </div>

    <div class="form-group">
        <input type="password" class="form-control mt-2" placeholder="Enter  Password" name="password" required>
        </div>

    
  

    <div class="form-group">
         <input type="password" class="form-control mt-2" placeholder="Renter  Password" name="chpassword" required>
         </div>
        </div>
        </div>
    <br>
    <button  style=background-color:#009970;color:azure type="submit" class="btn btn-info">Register</button>
    
    </form>
    
    <a class="text-success text-light" href="/login">Click Here to Login </a>
    </div>
    
    
    <div class="col-md-4"></div>
    
    </div>
{% endblock form  %}
